/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */


#userSection {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
  margin: 30px;
}
@media only screen and (max-width: 1468px) {
  #userSection {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (max-width: 1028px) {
  #userSection {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 748px) {
  #userSection {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    margin: 20px;
  }
}
@media only screen and (max-width: 428px) {
  #userSection {
    grid-template-columns: repeat(1, 1fr);
  }
}

#userSection > * {
  font: size 16px;
  border: 2px solid red;
  height: 33vh;
  border-radius: 3%;
}
@media only screen and (max-width: 1468px) {
  #userSection > * {
    font-size: 14px;
  }
}
@media only screen and (max-width: 428px) {
  #userSection > * {
    height: 28vh;
  }
}

.userImg {
  border-radius: 50%;
  width: 90px;
  height: 90px;
}
@media only screen and (max-width: 928px) {
  .userImg {
    width: 64px;
    height: 64px;
  }
}

.userFlex {
  display: flex;
  justify-content: flex-start;
}

@media only screen and (max-width: 428px) {
  header h3 {
    margin: auto;
    text-align: center;
    color: black;
  }
}

main {
  overflow: auto;
}
main button #imgSerch {
  width: 32px;
  height: 32px;
}

#mainscrool {
  width: 100%;
  overflow: hidden;
}

#headerFooterColor{
  background-color: rgb(226, 74, 96);
}
