
#userSection {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
  margin: 30px;
}
@media only screen and (max-width: 1468px) {
  #userSection {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (max-width: 1028px) {
  #userSection {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 748px) {
  #userSection {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    margin: 20px;
  }
}
@media only screen and (max-width: 428px) {
  #userSection {
    grid-template-columns: repeat(1, 1fr);
  }
}

#userSection > * {
  font: size 16px;
  border: 2px solid red;
  /* height: 33vh; */
  border-radius: 3%;
}
@media only screen and (max-width: 1468px) {
  #userSection > * {
    font-size: 14px;
  }
}
@media only screen and (max-width: 428px) {
  #userSection > * {
    height: 28vh;
  }
}

.userImg {
  border-radius: 50%;
  width: 90px;
  height: 90px;
}
@media only screen and (max-width: 928px) {
  .userImg {
    width: 64px;
    height: 64px;
  }
}

.userFlex {
  display: flex;
  justify-content: flex-start;
}

@media only screen and (max-width: 428px) {
  header h3 {
    margin: auto;
    text-align: center;
    color: black;
  }
}

main {
  overflow: auto;
}
main button #imgSerch {
  width: 32px;
  height: 32px;
}

#mainscrool {
  width: 100%;
  overflow: hidden;
}

#headerFooterColor{
  background-color: rgb(226, 74, 96);
}


#buttonMysSocialNetworks{
  width: 15%;
  height: 15%;
  margin: 4px;
  padding: 0;
  border: 0px;
  border-radius: 50%;
}
#buttonMysSocialNetworks img {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  
}